SESSION_ID=
OWNER_NAME=Mitch Christiano Okumu
OWNER_EMAIL=mitchchristianoofficial@gmail.com
OWNER_EMAIL_2=christianomitch832@gmail.com
FOUNDATION_NAME=THE TRANSITION FOUNDATION
FOUNDATION_MOTTO=Transforming today, Building Tomorrow.
PREFIX=.
WORKTYPE=public
SUDO=null
OPEN_AI=
ELEVENLABS=
RMBG_KEY=
OCR_KEY=
DATABASE_URL=
